In [ ]:
import pandas as pd
import re
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [ ]:
browser = webdriver.Chrome(r"...\chromedriver.exe")
browser.get("https://www.careerguide.com/career-options")

In [ ]:
categories = browser.find_elements_by_class_name("c-font-bold")
category_list = []
for category in range(1,len(categories)-12):
    category_list.append(categories[category].text)
print(category_list)

In [ ]:
sub_categories = browser.find_elements_by_class_name("c-content-list-1")
sub_category_list = []
for sub_category in sub_categories:
    sub_category_list.append(sub_category.text.replace("\n",",").split(","))
print(sub_category_list)

In [ ]:
browser = webdriver.Chrome(r"...\chromedriver.exe")
browser.get("https://www.linkedin.com")

In [ ]:
username = browser.find_element_by_id("session_key")
username.send_keys("...@gmail.com")
password = browser.find_element_by_id("session_password")
password.send_keys("...")

In [ ]:
login_button = browser.find_element_by_class_name("sign-in-form__submit-button")
login_button.click()

In [ ]:
browser.get("https://www.linkedin.com/jobs/search")

In [ ]:
search_jobs = browser.find_element_by_id("jobs-search-box-keyword-id-ember31")
search_jobs_by_location = browser.find_element_by_id("jobs-search-box-location-id-ember31")
search_jobs.send_keys(category_list[0])
search_button = browser.find_element_by_class_name("jobs-search-box__submit-button")
search_button.click()

In [ ]:
searched_jobs = browser.find_elements_by_class_name("full-width.artdeco-entity-lockup__title.ember-view")
company_job1 = []
for i in searched_jobs:
    company_job1.append(i.text)
search_jobs.clear()
search_jobs_by_location.clear()
print('Job Category:',category_list[0])

In [ ]:
print('{0}\n\nNumber of Jobs: {1}'.format(company_job1, len(company_job1)))

In [ ]:
location = browser.find_elements_by_class_name("job-card-container__metadata-item")
location_name = []
for i in range(len(location)):
    location_name.append(location[i].text)

for y in location_name:
    if y == 'Remote' or y == 'On-site' or y == 'Hybrid':
        location_name.remove(y)
state_name = []
for i in location_name:
    loc = i.split(",")[1:-1]
    for q in loc:
        state_name.append(q[1:])

print('{0}\n\nNumber of state searches: {1}'.format(state_name, len(state_name)))

In [ ]:
search_jobs_by_subcategory = browser.find_element_by_id("jobs-search-box-keyword-id-ember31")
search_jobs_by_subcategory.send_keys(sub_category_list[0][1])
search_jobs_by_state = browser.find_element_by_id("jobs-search-box-location-id-ember31")
search_jobs_by_state.send_keys(state_name[0])
search_button = browser.find_element_by_class_name("jobs-search-box__submit-button")
search_button.click()
search_jobs_by_subcategory.clear()
search_jobs_by_state.clear()

In [ ]:
company_offering_job = browser.find_elements_by_class_name("job-card-container__metadata-item.job-card-container__metadata-item--workplace-type")
company_offering_job_list = []
for i in company_offering_job:
    company_offering_job_list.append(i.text)
    
print('{0}\n\nCount of companies offering jobs at: {1}'.format(company_offering_job_list, len(company_offering_job_list)))

In [ ]:
company = browser.find_elements_by_class_name("job-card-container__company-name")
company_name = []
for i in company:
    company_name.append(i.text)

print('{0}\n\nNumber of companies: {1}'.format(company_name, len(company)))

In [ ]:
location = browser.find_elements_by_class_name("job-card-container__metadata-item")
location_name = []
for i in range(len(location)):
    location_name.append(location[i].text)

for y in location_name:
    if y == 'Remote' or y == 'On-site' or y == 'Hybrid':
        location_name.remove(y)

print('{0}\n\nNumber of locations: {1}'.format(location_name, len(location_name)))

In [ ]:
job_disc = browser.find_elements_by_class_name("jobs-description-content__text--stretch")
discription = []
for i in job_disc:
    discription.append(i.text)
for j in discription:
    print(j)

In [ ]:
comp_page = browser.find_element_by_class_name("ember-view.t-black.t-normal")
comp_page.click()

In [ ]:
company_page_about = browser.find_elements_by_class_name("org-page-navigation__item.m0")
company_page_about[1].click()

In [ ]:
company_discription = browser.find_element_by_class_name("break-words.white-space-pre-wrap.mb5.text-body-small.t-black--light")
company_discription_list = []
company_discription_list.append(company_discription.text)
for i in company_discription_list:
    print(i)

In [ ]:
employee = browser.find_element_by_class_name("text-body-small.t-black--light.mb1")
employee_list = []
employee_list.append(employee.text)
print(employee_list)

In [ ]:
company_location = browser.find_elements_by_class_name("t-14.t-black--light.t-bold.mr1.mt1")
company_location_list = []
for i in company_location:
    company_location_list.append(i.text)
print(company_location_list)

In [ ]:
col1 = ["Categories", "Sub Categories", ]
df1 = pd.DataFrame()
dict = {}
Catagories = category_list
Sub_Catagories = sub_category_list
for i in range(len(Catagories)):
    for x in range(len(Catagories)):
        dict[Catagories[i]] = Sub_Catagories[i][0:]

df1.append(dict, ignore_index="True")

In [ ]:
df1.head()

In [ ]:
col2 = ["Sub Categories", "Job Positions", "Company Offering Job", "Company_Name", "Location Name"]
df2 = pd.DataFrame({"Sub Catagories":sub_category_list[0][0],"Job Positions":company_job1[:5], "Company Offering Job":company_offering_job_list[:5], "Company_Name":company_name[:5],  "Location Name":location_name[:5]})

In [ ]:
df2.head()

In [ ]:
col3 = ["Categories", "Job Positions", "Company Offering Job", "Company_Name", "Location Name", "Job Discription", "Company Discription", "Employee List", "Company Location List"]
df3 = pd.DataFrame({"Catagories":category_list[:1], "Job Positions":company_job1[:1], "Company Offering Job":company_offering_job_list[:1], "Company_Name":company_name[:1], "Location Name":location_name[:1], "State":state_name[:1], "Job Discription":discription[:1], "Company Discription":company_discription_list[:1], "Employee":employee_list[:1], "Company Location":company_location_list[:1]})

In [ ]:
df3.head()

In [ ]:
df1.to_csv("Catagories_and_Sub_Categories.csv")
df2.to_csv("Particular_Sub_Categary.csv")
df3.to_csv("Particular_Job_and_its_details.csv")

In [ ]:
import mysql.connector
from mysql import *
def DataframeToSql1(dataframe):
    conn = mysql.connector.connect(host="localhost", user="root", password="subho", database="web_scraping", charset="utf8")
    cur = conn.cursor()
    conn.commit()
    for (row,rs) in dataframe.iterrows():
        Aerospace_and_Aviation = rs[0]
        Agriculture = rs[1]
        Automobile_or_Autocomponents = rs[2]
        Banking_or_Insurance_and_Finance = rs[3]
        Beauty_and_Wellness_Industry = rs[4]
        Building_and_Construction = rs[5]
        Building_or_Hardware_and_Home_Furnishings= rs[6]
        Chemicals_and_Pharmaceuticals= rs[7]
        Commerce_or_Humanities_Stream= rs[8]
        Defense_and_Military= rs[9]
        Designing_and_Art= rs[10]
        Education_or_skill_Development= rs[11]
        Electronics_and_Hardware= rs[12]
        Emergency_Services= rs[13]
        Engineering_and_Technology= rs[14]
        Exams_and_Syllabus= rs[15]
        Food_Processing= rs[16]
        Gems_and_Jewellery= rs[17]
        Handlooms_and_Handicrafts= rs[18]
        Healthcare= rs[19]
        Humanistic_Studies= rs[20]
        Information_Technology_or_Software= rs[21]
        Institutes_in_India= rs[22]
        ITES_or_BPO= rs[23]
        Law_and_Order= rs[24]
        Leather_and_Leather_Goods= rs[25]
        Management_and_Marketing= rs[26]
        Media_or_Entertainment_and_Animation= rs[27]
        Organised_Retail= rs[28]
        Psychometric_Career_Test= rs[29]
        Public_Admin_and_Government= rs[30]
        Real_Estate= rs[31]
        Science_and_Research= rs[32]
        Sports= rs[33]
        Study_Abroad= rs[34]
        Telecom= rs[35]
        Textiles_and_Garments= rs[36]
        Tourism_or_Hospitality_and_Travel= rs[37]
        Transportation_or_Logistics_or_Warehousing_and_Packaging= rs[38]
        query = "insert into Catagories_and_Sub_Categories values("+Aerospace_and_Aviation+","+Agriculture+","+Automobile_or_Autocomponents+","+Banking_or_Insurance_and_Finance+","+Beauty_and_Wellness_Industry+","+Building_and_Construction+","+Building_or_Hardware_and_Home_Furnishings+","+Chemicals_and_Pharmaceuticals+","+Commerce_or_Humanities_Stream+","+Defense_and_Military+","+Designing_and_Art+","+Education_or_skill_Development+","+Electronics_and_Hardware+","+Emergency_Services+","+Engineering_and_Technology+","+Exams_and_Syllabus+","+Food_Processing+","+Gems_and_Jewellery+","+Handlooms_and_Handicrafts+","+Healthcare+","+Humanistic_Studies+","+Information_Technology_or_Software+","+Institutes_in_India+","+ITES_or_BPO+","+Law_and_Order+","+Leather_and_Leather_Goods+","+Management_and_Marketing+","+Media_or_Entertainment_and_Animation+","+Organised_Retail+","+Psychometric_Career_Test+","+Public_Admin_and_Government+","+Real_Estate+","+Science_and_Research+","+Sports+","+Study_Abroad+","+Telecom+","+Textiles_and_Garments+","+Tourism_or_Hospitality_and_Travel+","+Transportation_or_Logistics_or_Warehousing_and_Packaging+")"
    cur.close()
    if conn.is_connected():
        conn.close()

dataframe = pd.read_csv("Catagories_and_Sub_Categories.csv")
DataframeToSql1(dataframe)
print("successful")

In [ ]:
def DataframeToSql2(dataframe1):
    conn = mysql.connector.connect(host="localhost", user="root", password="subho", database="web_scraping", charset="utf8")
    cur = conn.cursor()
    conn.commit() 
    for (row,rs) in dataframe1.iterrows():
        Sub_Catagories = rs[0]
        Job_Positions = rs[1]
        Company_Offering_Job = rs[2]
        Company_Name = rs[3]
        State = rs[4]
        Location_Name = rs[5]
        query = "insert into Particular_Sub_Categary values("+Sub_Catagories+","+Job_Positions+","+Company_Offering_Job+","+Company_Name+","+State+","+Location_Name+")"
        cur.execute(query)
    cur.close()
    if conn.is_connected():
        conn.close()

dataframe1 = pd.read_csv("Particular_Sub_Categary.csv")
DataframeToSql2(dataframe1)
print(dataframe1)
print("successful")

In [ ]:
def DataframeToSql3(dataframe2):
    
    conn = mysql.connector.connect(host="localhost", user="root", password="subho", database="web_scraping", charset="utf8")
    cur = conn.cursor()
    conn.cursor("select * from Particular_sub_categary")
    conn.commit() 
    for (row,rs) in dataframe2.iterrows():
        Catagories = rs[0]
        Job_Positions = str(rs[1])
        Company_Offering_Job = str(rs[2])
        Company_Name = rs[3]
        Location_Name = rs[4]
        State = rs[5]
        Job_Discription = rs[6]
        Company_Discription = rs[7]
        Employee = str(rs[8])
        Company_Location = rs[9]
        query = "insert into Particular_Job_and_its_details values("+Catagories+","+Job_Positions+","+Company_Offering_Job+","+Company_Name+","+Location_Name+","+State+","+Job_Discription+","+Company_Discription+","+Employee+","+Company_Location+")"
        cur.execute(query)
    cur.close()
    if conn.is_connected():
        conn.close()

dataframe2 = pd.read_csv("Particular_Job_and_its_details.csv")
DataframeToSql3(dataframe2)
print("successful")

In [ ]:
conn = mysql.connector.connect(host="localhost", user="root", password="subho", database="web_scraping", charset="utf8")
cur = conn.cursor()
cur.execute("SHOW TABLES")
for table_name in cur:
   print(table_name)

In [ ]:
cur.execute("SELECT * FROM Catagories_and_Sub_Categories")
myresult = cur.fetchall()
for table in myresult:
   print(table)

In [ ]:
cur.execute("SELECT * FROM Particular_Job_and_its_details")
myresult = cur.fetchall()
for table in myresult:
   print(table)

In [ ]:
cur.execute("SELECT * FROM particular_job_and_its_details")
myresult = cur.fetchall()
for table in myresult:
   print(table)